#nav {
  height:100px;
  border:none;
  box-shadow: none;
  background:#ffffff;
  border-bottom:1px solid #AAAAAA;
}

#nav div {
  height:inherit;
}

#content-wrapper {
  margin-top:100px;
  padding:0;
}

.nav-img {
  cursor: pointer;
  padding:0;
  background:transparent;
  position:absolute;
  top:20px;
  left:20px;
  transform:scale(1.2);
}

.nav-items ul {
  margin-top:10px;
}

.nav-items ul li {
  overflow:hidden;
  height:inherit;
}

.nav-btn {
  width:90px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  color:black;
  padding:10px;
  margin:0 5px;
  text-align:center;
  transition:all .3s;
  text-transform: capitalize;
}

.nav-btn:hover {
  color:#DB9700;
  background:#ffffff;
}

.nav-items {
  margin:15px 10px 0 0;
}

.container-fluid {
  padding:0;
}